<div class="card">
  <img class="card-img-top" src="../assets/images/course_1.jpg" alt="https://unsplash.com/@kellybrito">
  <div class="card-body text-center">
    <div class="card-title"><a href="courses.html">{{title}}</a></div>
    <div class="card-text">{{description}}</div>
  </div>
  <div class="price_box d-flex flex-row align-items-center">
    <div class="course_author_image">
      <img src="../assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
    </div>
    <div class="course_author_name">{{teacher}} , <span>{{speciality}}</span></div>
    <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>{{price}}</span></div>
  </div>
</div>
