<footer class="footer">
  <div class="container">

    <!-- Newsletter -->

    <div class="newsletter">
      <div class="row">
        <div class="col">
          <div class="section_title text-center">
            <h1 style="font-size: 20px;">التسجيل في خدمة الأخبار عبر البريد الالكتروني</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <div class="newsletter_form_container mx-auto">
            <form action="post">
              <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                <input id="newsletter_email" class="newsletter_email" type="email" placeholder="البريد الالكتروني" required="required" data-error="Valid email is required.">
                <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit"> التسجيل</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

    <!-- Footer Content -->

    <div class="footer_content">
      <div class="row">

        <!-- Footer Column - About -->
        <div class="col-lg-4 footer_col">

          <!-- Logo -->
          <div class="logo_container">
            <div class="logo" >
              <img style="width: 60px; height:60px" src="../assets/images/logo.png" alt="">
              <p class="logo_footer">Non Academy</p>
            </div>
          </div>

          <p class="footer_about_text">منصة تعليمية توفر العديد من الكوروسات اونلاين</p>

        </div>

        <!-- Footer Column - Menu -->

        <div class="col-lg-4 footer_col">
          <div class="footer_column_title">Menu</div>
          <div class="footer_column_content">
            <ul class="main_nav_list">
              <li class="footer_list_item "><a routerLink="/">الرئيسية</a></li>
              <li class="footer_list_item "><a routerLink="courses">الدورات</a></li>
              <li class="footer_list_item "><a routerLink="about">حول</a></li>
              <li class="footer_list_item "><a routerLink="news">الأخبار</a></li>
              <li class="footer_list_item "><a routerLink="contact">اتصل بنا</a></li>
            </ul>
          </div>
        </div>

        <!-- Footer Column - Usefull Links -->



        <!-- Footer Column - Contact -->

        <div class="col-lg-4 footer_col">
          <div class="footer_column_title">معلومات الاتصال  </div>
          <div class="footer_column_content">
            <ul>
              <li class="footer_contact_item">
                <div class="footer_contact_icon">
                  <img src="assets/images/placeholder.svg" alt="https://www.flaticon.com/authors/lucy-g">
                </div>
                سوريا ,دمشق
              </li>
              <li class="footer_contact_item">
                <div class="footer_contact_icon">
                  <img src="assets/images/smartphone.svg" alt="https://www.flaticon.com/authors/lucy-g">
                </div>
                +963 945 656 673
              </li>
              <li class="footer_contact_item">
                <div class="footer_contact_icon">
                  <img src="../assets/images/envelope.svg" alt="https://www.flaticon.com/authors/lucy-g">
                </div>nonacademy@gmail.com
              </li>


            </ul>
          </div>
        </div>

      </div>
    </div>

    <!-- Footer Copyright -->

    <div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
      <div class="footer_copyright">
        <span>
Copyright &copy; All rights reserved  for 2022</span>
      </div>
      <div class="footer_social ml-sm-auto">
        <ul class="menu_social">
          <li class="menu_social_item"><a href="https://wa.me/message/4GBLXJKJ7NNHL1"><i class="fa-brands fa-whatsapp"></i></a></li>
          <li class="menu_social_item"><a href="https://t.me/noononline2021"><i class="fa-brands fa-telegram"></i></a></li>
          <li class="menu_social_item"><a href="https://instagram.com/eman_nakshabandi?igshid=ii5ok1nttyx8"><i class="fab fa-instagram"></i></a></li>
          <li class="menu_social_item"><a href="https://www.facebook.com/Noon-Academy-International-111585194726689/"><i class="fab fa-facebook-f"></i></a></li>
        </ul>
      </div>
    </div>

  </div>
</footer>


