<!-- Contact -->
<div class="home">
  <div class="home_background_container prlx_parent">
    <div class="home_background prlx" style="background-image:url(../../../assets/images/contact_background.jpg)"></div>
  </div>
  <div class="home_content">
    <h1>اتصل بنا</h1>
  </div>
</div>

<div class="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <!-- Contact Form -->
        <div class="contact_form">
          <div class="contact_title">!تواصل معنا</div>

          <div class="contact_form_container">
            <form action="post">
              <input id="contact_form_name" class="input_field contact_form_name" type="text" placeholder="الاسم" required="required" data-error="Name is required.">
              <input id="contact_form_email" class="input_field contact_form_email" type="email" placeholder="البريد الإلكتروني" required="required" data-error="Valid email is required.">
              <textarea id="contact_form_message" class="text_field contact_form_message" name="message" placeholder="الرسالة" required="required" data-error="Please, write us a message."></textarea>
              <button id="contact_send_btn" type="button" class="contact_send_btn trans_200 " value="Submit">ارسال</button>
            </form>
          </div>
        </div>

      </div>

      <div class="col-lg-4">
        <div class="about">
          <div class="about_title">اختر دورتك التعليمية الآن</div>
          <p class="about_text">تواصل معنا واحجز مباشرة  وكن اول اللاحقين بعائلة نون اكاديمي انترناشونال عبر وسائل التواصل الاجتماعي</p>

          <div class="contact_info">
            <ul>

              <li class="contact_info_item">
                <div class="contact_info_icon">
                  <img src="../../../assets/images/smartphone.svg"  >
                </div>
                +963 945 656 673
              </li>
              <li class="contact_info_item">
                <div class="contact_info_icon">
                  <img src="../../../assets/images/envelope.svg"  >
                </div>nonacademy@gmail.com
              </li>
              <li class="contact_info_item">
                <div class="contact_info_icon">
                  <img src="../../../assets/images/facebook.svg" >
                </div><a href="https://www.facebook.com/Noon-Academy-International-111585194726689/">Noon-Academy-International</a>
              </li>
              <li class="contact_info_item">
                <div class="contact_info_icon">
                  <img src="../../../assets/images/whatsapp.svg"  >
                </div><a href="https://wa.me/message/4GBLXJKJ7NNHL1">Direct whatsapp</a>
              </li>

              <li class="contact_info_item">
                <div class="contact_info_icon">

                  <img src="../../../assets/images/telegram.svg" >
                </div><a href="t.me/noononline2021"> t.me/noononline2021</a>
              </li>
              <li class="contact_info_item">
                <div class="contact_info_icon">
                  <img src="../../../assets/images/instagram.svg" alt="https://www.flaticon.com/authors/lucy-g">
                </div><a href="https://instagram.com/eman_nakshabandi?igshid=ii5ok1nttyx8"> eman_nakshabandi</a>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>

    <!-- Google Map -->

    <div class="row">
      <div class="col">
        <div id="google_map">
          <div class="map_container">
            <div id="map"><iframe class="map_container" src="https://maps.google.com/maps?q=Tangesir%20Dates%20Products&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"  allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
