<div class="home">
  <div class="home_background_container prlx_parent">
    <div class="home_background prlx" style="background-image:url(../../../assets/images/contact_background.jpg)"></div>
  </div>
  <div class="home_content">
    <h1>Course1</h1>
  </div>
</div>
 <!--================ Start Course Details Area =================-->
 <section class="course_details_area section_gap">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 course_details_left">
              <div class="main_image">
                  <img class="img-fluid" src="../../../assets/images/course-details.jpg" alt="">
              </div>
              <div class="content_wrapper">
                  <h4 class="title">Objectives</h4>
                  <div class="content">
                      When you enter into any new area of science, you almost always find yourself with a
                      baffling new language of
                      technical terms to learn before you can converse with the experts. This is certainly
                      true in astronomy both in
                      terms of terms that refer to the cosmos and terms that describe the tools of the trade,
                      the most prevalent
                      being the telescope.
                      <br>
                      <br>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore
                      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                      ut aliquip ex ea
                      commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum. Lorem ipsum dolor sit
                      amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Ut enim
                      ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                      commodo consequat. Duis aute
                      irure dolor in reprehenderit in voluptate velit esse cillum.
                  </div>

                  <h4 class="title">Eligibility</h4>
                  <div class="content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore
                      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                      ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                      <br>
                      <br>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore
                      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                      ut aliquip ex ea
                      commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum. Lorem ipsum dolor sit
                      amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Ut enim
                      ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                      commodo consequat. Duis aute
                      irure dolor in reprehenderit in voluptate velit esse cillum.
                  </div>

                  <h4 class="title">Course Outline</h4>
                  <div class="content">
                      <ul class="course_list">
                          <li class="justify-content-between d-flex">
                              <p>Introduction Lesson</p>
                              <a class="primary-btn text-uppercase" href="#">View Details</a>
                          </li>
                          <li class="justify-content-between d-flex">
                              <p>Basics of HTML</p>
                              <a class="primary-btn text-uppercase" href="#">View Details</a>
                          </li>
                          <li class="justify-content-between d-flex">
                              <p>Getting Know about HTML</p>
                              <a class="primary-btn text-uppercase" href="#">View Details</a>
                          </li>
                          <li class="justify-content-between d-flex">
                              <p>Tags and Attributes</p>
                              <a class="primary-btn text-uppercase" href="#">View Details</a>
                          </li>
                          <li class="justify-content-between d-flex">
                              <p>Basics of CSS</p>
                              <a class="primary-btn text-uppercase" href="#">View Details</a>
                          </li>
                          <li class="justify-content-between d-flex">
                              <p>Getting Familiar with CSS</p>
                              <a class="primary-btn text-uppercase" href="#">View Details</a>
                          </li>
                          <li class="justify-content-between d-flex">
                              <p>Introduction to Bootstrap</p>
                              <a class="primary-btn text-uppercase" href="#">View Details</a>
                          </li>
                          <li class="justify-content-between d-flex">
                              <p>Responsive Design</p>
                              <a class="primary-btn text-uppercase" href="#">View Details</a>
                          </li>
                          <li class="justify-content-between d-flex">
                              <p>Canvas in HTML 5</p>
                              <a class="primary-btn text-uppercase" href="#">View Details</a>
                          </li>

                      </ul>
                  </div>
              </div>
          </div>


          <div class="col-lg-4 right-contents">
              <ul>
                  <li>
                      <a class="justify-content-between d-flex" href="#">
                          <p>Trainer’s Name</p>
                          <span class="or">George Mathews</span>
                      </a>
                  </li>
                  <li>
                      <a class="justify-content-between d-flex" href="#">
                          <p>Course Fee </p>
                          <span>$230</span>
                      </a>
                  </li>
                  <li>
                      <a class="justify-content-between d-flex" href="#">
                          <p>Available Seats </p>
                          <span>15</span>
                      </a>
                  </li>
                  <li>
                      <a class="justify-content-between d-flex" href="#">
                          <p>Schedule </p>
                          <span>2.00 pm to 4.00 pm</span>
                      </a>
                  </li>
              </ul>
              <a href="#" class="primary-btn2 text-uppercase enroll rounded-0 text-white">Enroll the course</a>

          </div>
      </div>
  </div>
</section>
<!--================ End Course Details Area =================-->
