<div class="home">
  <div class="home_background_container prlx_parent">
    <div
      class="home_background prlx"
      style="
        background-image: url(../../../assets/images/contact_background.jpg);
      "
    ></div>
  </div>
  <div class="home_content">
    <h1>{{courseDetails.title}}</h1>
  </div>
</div>
<!--================ Start Course Details Area =================-->
<section class="course_details_area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 right-contents" ng>
        <ul>
          <li>
            <a class="justify-content-between d-flex">
              <span class="or">{{ courseDetails.teacher }}</span>
              <p>اسم المدرس</p>
            </a>
          </li>
          <li>
            <a class="justify-content-between d-flex" href="#">
              <span>${{ courseDetails.price }}</span>
              <p>سعر الدورة</p>
            </a>
          </li>
          <li>
            <a class="justify-content-between d-flex" href="#">
              <span>${{ courseDetails.price }}</span>
              <p>تاريخ بدء الدورة</p>
            </a>
          </li>
        </ul>
        <a
          href="#"
          class="primary-btn2 text-uppercase enroll rounded-0 text-white"
          >التسجيل بالدورة</a
        >
      </div>
      <div class="col-lg-8 course_details_left">
        <div class="main_image">
          <img
            class="img-fluid"
            src="../../../assets/images/course-details.jpg"
            alt=""
          />
        </div>
        <div class="content_wrapper">
          <h4 class="title">التفاصيل</h4>
          <div class="content">
            {{ courseDetails.Description }}
            <br />
            <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodoconsequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum. Lorem ipsum dolor sit
            amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum.
          </div>

          <h4 class="title">:هذه الدورة موجهة الى</h4>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum.
            <br />
            <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodoconsequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum. Lorem ipsum dolor sit
            amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum.
          </div>

          <h4 class="title">:هذه الدورة تتضمن</h4>
          <div class="content">
            <ul class="course_list">
              <li class="justify-content-between d-flex">
                <p>{{courseDetails.outline1}}</p>
               </li>
              <li class="justify-content-between d-flex">
                <p>{{courseDetails.outline2}}</p>
               </li>
              <li class="justify-content-between d-flex">
                <p>{{courseDetails.outline3}}</p>
               </li>
              <li class="justify-content-between d-flex">
                <p>{{courseDetails.outline4}}</p>
               </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Course Details Area =================-->
