<div class="home">
  <div class="home_background_container prlx_parent">
    <div class="home_background prlx" style="background-image:url(../../../assets/images/contact_background.jpg)"></div>
  </div>
  <div class="home_content">
    <h1>!من نحن</h1>
  </div>
</div>

<!--new section -->
<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="row">
					<div class="col-md-5 py-5  ">
						<div class="about_us" >
	          	<h2 class="mb-4 about_h2" >اكاديمية نون الدولية </h2>
							<p class="about" >تأسست في ٢ شباط ٢٠٢١ وقدمنا العديد من الدورات في مجالات مختلفة  للكبار والصغار</p>
							<p class="about"> رسالتنا الريادة  والتميز في  بناء انسان واعي  في جميع العالم  وإتاحة التدريب للجميع</p>
							<p class="about">رؤيتنا بأن تكون أكاديميتنا الرائدة في إعداد متدربين أصحاب كفاءات ومهارات تسهل عليهم الكثير من صعوبات الحياة وان ان تكون الاكاديمية الرائدة في الشرق الاوسط
                مع  التميز والمصداقية في تقديم الخدمات المميزة</p>
              <p class="about">قيمنا : الامانة في التعلم والرسالية في التدريب شعارنا بالارداة نصل القمم</p>
						</div>
					</div>
					<div class="col-md-7  py-5  about_h2 ">
          	<h2 class="mb-4">اهداف الاكاديمية</h2>
						<div class="row mt-5">
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
									<div class="text">
										<h3>توفير التعلم </h3>
										<p class="goals"> تقديم فرصة للراغبين في التعلم والتشجيع عليه</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
									<div class="text">
										<h3>احترافية التدريس</h3>
										<p  class="goals" >  الاستفادة من خبرات الهيئة التدريسية  الذين يمتلكون خبرات عالية المستوى من حملة الشهادات العليا وممن لديهم الخبرة والكفاءة في هذا النوع من التدريب</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diploma"></span></div>
									<div class="text">
										<h3>تنمية ذكاء الطالب</h3>
										<p class="goals">تنمية القدرات العلمية للطلبة وزيادة خبراتهم وذلك باستخدام أفضل وسائل الاتصال الحديثة في إيصال المعلومة بشكلها المسموع والمقروء والمرئي </p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
									<div class="text">
										<h3>شمولية التعليم</h3>
										<p class="goals">الحرص لايصال التعليم لكافة الأعمار وفي مختلف المناطق حول الوطن العربي مع توفير الشهادات المعترف بها دوليا</p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>


<!--new section -->
<div class="hmv-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="inner-hmv">
          <div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
          <h3>مهمتنا</h3>
           <p>وقدمنا العديد من الدورات في مجالات مختلفة  للكبار والصغار عن بعد بحيث نقدم استشارات وجلسات كوتشنج مؤسسية وفردية تهدف الى رفع الوعي لدى المستفيد وتنمية شغفه باسلوب ابتكاري جديد</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="inner-hmv">
          <div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
          <h3>رؤيتنا</h3>
           <p>أن تكون أكاديميتنا الرائدة في إعداد متدربين أصحاب كفاءات ومهارات تسهل عليهم الكثير من صعوبات الحياة وان ان تكون الاكاديمية الرائدة في الشرق الاوسط
            مع  التميز والمصداقية في تقديم الخدمات المميزة</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="inner-hmv">
          <div class="icon-box-hmv"><i class="flaticon-history"></i></div>
          <h3>تاريخ الأكاديمية</h3>
           <p>بدأت الاكاديمية دوراتها في شهر حزيران عام 2021
            حيث قدمت الدورات التالية (المخيم الصيفي للأطفال ويشمل الحساب الذهني واللغة العربية والإنكليزية والمهارات الحياتية ودورة القران الكريم وغيرها ..),
            قدمت أيضا دورة مبادئ الإسعاف الاولي و دورة تأسيس الاعراب للكبار و ودورة اللغة التركية و دورة الفوتوشوب و دورة استراتيجيات تريز ودورة الألعاب عن بعد للمعلمين ودورة المحو التصميم لغير المتخصصين ودورة اللغة العربية للكبار و دورة التصميم عالجوال وورشة قوة الشخصية و ورشة الابداع الرقمي</p>
        </div>
      </div>
    </div>
  </div>
</div>
