@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:400,500,700");

/*********************************
5. Home
*********************************/

.home {
  width: 100%;
  height: 447px;
}
.home_background_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home_background {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.home_content {
  position: absolute;
  left: 50%;
  bottom: 109px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #ffb606;
  padding-top: 24px;
  padding-bottom: 18px;
  padding-left: 39px;
  padding-right: 42px;
}
.home_content h1 {
  font-size: 72px;
  font-weight: 400;
  color: #ffffff;
  line-height: 0.5;
  white-space: nowrap;
}

/*********************************
7. Page Section
*********************************/

.page_section {
  padding-top: 117px;
  padding-bottom: 117px;
}
.section_title {
}
.section_title h1 {
  display: block;
  color: #1a1a1a;
  font-weight: 500;
  padding-top: 24px;
}
.section_title h1::before {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 55px;
  height: 4px;
  content: "";
  background: #ffb606;
}
/*********************************
7. info Section
*********************************/
.ftco-section {
  padding: 2em 0;
  position: relative;
}

.wrap-about {
  position: relative;
}
.wrap-about h2 {
  font-weight: 500;
}
.bg-light {
  background-color: #f8f9fa !important;
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #dae0e5 !important;
}
.py-5 {
  padding-top: 3rem !important;
}
.order-md-last {
  -webkit-box-ordinal-group: 14;
  -ms-flex-order: 13;
  order: 13;
}

@media (max-width: 991.98px) {
  .ftco-consult {
    background-position: top center !important;
  }
}
/*********************************
7. our package Section
*********************************/
.package {
  color: #777;
  padding: 40px;
  border-radius: 7px;
}
.package h3 {
  font-size: 18px;
  margin-bottom: 30px;
}
.package .img-wrap {
  display: block;
  margin: 0 auto 30px auto;
  width: 80px;
}
.package .img-wrap img {
  width: 80px;
}

.site-section {
  padding: 2.5em 0;
}
@media (min-width: 768px) {
  .site-section {
    padding: 5em 0;
  }
}
.site-section.site-section-sm {
  padding: 4em 0;
}

.site-section-cover {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}
.site-section-cover,
.site-section-cover .container {
  position: relative;
  z-index: 2;
}
.site-section-cover,
.site-section-cover .container > .row {
  height: calc(100vh - 196px);
  min-height: 777px;
}
@media (max-width: 991.98px) {
  .site-section-cover,
  .site-section-cover .container > .row {
    height: calc(70vh - 196px);
    min-height: 777px;
  }
}
.site-section-cover.overlay {
  position: relative;
}
.site-section-cover.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.site-section-cover.inner-page,
.site-section-cover.inner-page .container > .row {
  height: auto;
  min-height: auto;
  padding: 2em 0;
}
.site-section-cover.img-bg-section {
  background-size: cover;
  background-repeat: no-repeat;
}
.site-section-cover h1 {
  font-size: 3rem;
  color: #fff;
  line-height: 1;
}
@media (max-width: 991.98px) {
  .site-section-cover h1 {
    font-size: 2rem;
  }
}
.site-section-cover p {
  font-size: 18px;
  color: #fff;
}

.site-section {
  padding: 7rem 0;
}
@media (max-width: 991.98px) {
  .site-section {
    padding: 3rem 0;
  }
}

.bg-teal {
  background: #ffb606; }
  .bg-info {
    background-color: #ffb606!important;
}
/*********************************
7. hvm-box Section
*********************************/
.hmv-box{
	padding: 60px 0px;
}
.inner-hmv{
	padding: 15px;
	box-shadow: 0 0px 10px rgba(0,0,0,.1);
	position: relative;
	overflow: hidden;
}
.icon-box-hmv{
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border: 3px solid #4babb1;
	border-radius: 6px;
	margin-bottom: 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.icon-box-hmv i{
	font-size: 60px;
	color: #eea412;
}
.inner-hmv h3{
	font-size: 28px;
	color: #212121;
    font-weight: 500;
	margin-bottom: 20px;
	padding: 0px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.inner-hmv p{
	margin: 0px;
}

.inner-hmv:hover .icon-box-hmv{
	border: 3px solid #eea412;
}
.inner-hmv:hover .icon-box-hmv i{
	color: #4babb1;
}
.inner-hmv:hover h3{
	color: #eea412;
}
.inner-hmv:hover .tr-pa{
	opacity: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
