<div class="super_container">
  <!-- Home -->

  <div class="home">
    <!-- Hero Slider -->
    <div class="hero_slider_container">
      <div class="hero_slider owl-carousel">
        <!-- Hero Slide -->
        <div class="hero_slide">
          <div
            class="hero_slide_background"
            style="
              background-image: url(../assets/images/slider_background.jpg);
            "
          ></div>
          <div
            class="hero_slide_container d-flex flex-column align-items-center justify-content-center"
          >
            <div class="hero_slide_content text-center">
              <h1
                data-animation-in="fadeInUp"
                data-animation-out="animate-out fadeOut"
              >
                <span>أفضل الدورات</span>
              </h1>
            </div>
          </div>
        </div>

        <!-- Hero Slide -->
        <div class="hero_slide">
          <div
            class="hero_slide_background"
            style="
              background-image: url(../assets/images/slider_background.jpg);
            "
          ></div>
          <div
            class="hero_slide_container d-flex flex-column align-items-center justify-content-center"
          >
            <div class="hero_slide_content text-center">
              <h1
                data-animation-in="fadeInUp"
                data-animation-out="animate-out fadeOut"
              >
                <span>العديد من المجالات المتنوعة</span>
              </h1>
            </div>
          </div>
        </div>

        <!-- Hero Slide -->
        <div class="hero_slide">
          <div
            class="hero_slide_background"
            style="
              background-image: url(../assets/images/slider_background.jpg);
            "
          ></div>
          <div
            class="hero_slide_container d-flex flex-column align-items-center justify-content-center"
          >
            <div class="hero_slide_content text-center">
              <h1
                data-animation-in="fadeInUp"
                data-animation-out="animate-out fadeOut"
              >
                <span>!!التعليم عن بعد </span>
              </h1>
            </div>
          </div>
        </div>
      </div>

      <div class="hero_slider_left hero_slider_nav trans_200">
        <span class="trans_200">السابق</span>
      </div>
      <div class="hero_slider_right hero_slider_nav trans_200">
        <span class="trans_200">التالي</span>
      </div>
    </div>
  </div>

  <div class="hero_boxes">
    <div class="hero_boxes_inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 hero_box_col">
            <div
              class="hero_box d-flex flex-row align-items-center justify-content-start"
            >
              <img src="../assets/images/earth-globe.svg" class="svg" alt="" />
              <div class="hero_box_content">
                <h2 class="hero_box_title">الدورات</h2>
                <a routerLink="courses" class="hero_box_link">المزيد</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 hero_box_col">
            <div
              class="hero_box d-flex flex-row align-items-center justify-content-start"
            >
              <img src="../assets/images/books.svg" class="svg" alt="" />
              <div class="hero_box_content">
                <h2 class="hero_box_title">المكتبة</h2>
                <a routerLink="courses" class="hero_box_link">المزيد</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 hero_box_col">
            <div
              class="hero_box d-flex flex-row align-items-center justify-content-start"
            >
              <img src="../assets/images/professor.svg" class="svg" alt="" />
              <div class="hero_box_content">
                <h2 class="hero_box_title">فريق المدرسين</h2>
                <a routerLink="teachers" class="hero_box_link">المزيد</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Popular -->

  <div class="popular page_section">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title text-center">
            <h1>الدورات الأكثر طلبا</h1>
          </div>
        </div>
      </div>

      <div class="row course_boxes">
        <!-- Popular Course Item -->
        <div *ngFor="let art of artical" class="col-lg-4 course_box">
          <app-card
            [title]="art.name"
            [description]="art.description"
            [image]="'id11'"
            [teacher]="art.teacherName"
            [speciality]="art.speciality"
            [price]="'art.price'"
          ></app-card>
        </div>
      </div>
    </div>
  </div>

  <!-- Register -->

  <div class="register">
    <div class="container-fluid">
      <div class="row row-eq-height">
        <div class="col-lg-12 nopadding">
          <!-- Register -->

          <div
            class="register_section d-flex flex-column align-items-center justify-content-center"
          >
            <div class="register_content text-center">
              <h1 class="register_title">
                قم بالتسجيل الان واحصل على <span> 50% </span> خصم حتى نهاية
                العام
              </h1>
              <p class="register_text">
                قم بالتواصل معنا للحصول على المزيد من المعلومات
              </p>
              <div class="button button_1 register_button mx-auto trans_200">
                <a href="#">سجل الآن</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Services -->

  <div class="services page_section">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title text-center">
            <h1>مشاريعنا</h1>
          </div>
        </div>
      </div>

      <div class="row services_row">
        <div
          class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start"
        >
          <div class="icon_container d-flex flex-column justify-content-end">
            <img src="../assets/images/earth-globe.svg" alt="" />
          </div>
          <h3>دورات تدربية متنوعة</h3>
          <p>
            لكافة الاعمار للفئات العمرية من 6 سنوات لل15 وللكبار من 20 وما فوق
          </p>
        </div>

        <div
          class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start"
        >
          <div class="icon_container d-flex flex-column justify-content-end">
            <img src="../assets/images/exam.svg" alt="" />
          </div>
          <h3>حقائب تدريبية وخدمات تسويقية</h3>
          <p>
            استشارات وجلسات كوتشنج مؤسسية وفردية تهدف الى رفع الوعي لدى المستفيد
            وتنمية شغفه باسلوب ابتكاري جديد
          </p>
        </div>

        <div
          class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
          <div class="icon_container d-flex flex-column justify-content-end">
            <img src="../assets/images/books.svg" alt="" />
          </div>
          <h3>التقوية في المناهج الدراسية</h3>
          <p>
            يوجد معلمين متخصصين في تقوية الطلاب في المناهج الدراسية واجتياز
            الامتحانات بعلامات عالية
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Testimonials -->

  <div class="testimonials page_section">
    <!-- <div class="testimonials_background" style="background-image:url(../assets/images/testimonials_background.jpg)"></div> -->
    <div class="testimonials_background_container prlx_parent">
      <div
        class="testimonials_background prlx"
        style="
          background-image: url(../assets/images/testimonials_background.jpg);
        "
      ></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title text-center">
            <h1>تعليقات الطلاب</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="testimonials_slider_container">
            <!-- Testimonials Slider -->
            <div class="owl-carousel owl-theme testimonials_slider">
              <!-- Testimonials Item -->
              <div class="owl-item">
                <div class="testimonials_item text-center">
                  <div class="quote">“</div>
                  <p class="testimonials_text">معلمين رائعين وشرح رائع</p>
                  <div class="testimonial_user">
                    <div class="testimonial_image mx-auto">
                      <img
                        src="../assets/images/testimonials_user.jpg"
                        alt=""
                      />
                    </div>
                    <div class="testimonial_name">سارة بهلوان</div>
                    <div class="testimonial_title">طالبة جامعة</div>
                  </div>
                </div>
              </div>

              <!-- Testimonials Item -->
              <div class="owl-item">
                <div class="testimonials_item text-center">
                  <div class="quote">“</div>
                  <p class="testimonials_text">معلمين رائعين وشرح رائع</p>
                  <div class="testimonial_user">
                    <div class="testimonial_image mx-auto">
                      <img
                        src="../assets/images/testimonials_user.jpg"
                        alt=""
                      />
                    </div>
                    <div class="testimonial_name">سارة بهلوان</div>
                    <div class="testimonial_title">طالبة جامعة</div>
                  </div>
                </div>
              </div>

              <!-- Testimonials Item -->
              <div class="owl-item">
                <div class="testimonials_item text-center">
                  <div class="quote">“</div>
                  <p class="testimonials_text">معلمين رائعين وشرح رائع</p>
                  <div class="testimonial_user">
                    <div class="testimonial_image mx-auto">
                      <img
                        src="../assets/images/testimonials_user.jpg"
                        alt=""
                      />
                    </div>
                    <div class="testimonial_name">سارة بهلوان</div>
                    <div class="testimonial_title">طالبة جامعة</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Events -->

  <div class="events page_section">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title text-center">
            <h1>الأنشطة القادمة</h1>
          </div>
        </div>
      </div>

      <div class="event_items">
        <!-- Event Item -->
        <div class="row event_item">
          <div class="col">
            <div class="row d-flex flex-row align-items-end">
              <div class="col-lg-2 order-lg-1 order-2">
                <div
                  class="event_date d-flex flex-column align-items-center justify-content-center"
                >
                  <div class="event_day">07</div>
                  <div class="event_month">أيلول</div>
                </div>
              </div>

              <div class="col-lg-6 order-lg-2 order-3">
                <div class="event_content">
                  <div class="event_name">
                    <a class="trans_200" href="#">حبة الهيل</a>
                  </div>
                  <div class="event_location">تنمية بشرية</div>
                  <p class="event_explain">
                    جللسة روحية مع سبدة المجتمع الروحي الحجة ايمان الروحية جدن
                  </p>
                </div>
              </div>

              <div class="col-lg-4 order-lg-3 order-1">
                <div class="event_image">
                  <img
                    src="../assets/images/event_1.jpg"
                    alt="https://unsplash.com/@theunsteady5"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Event Item -->
        <div class="row event_item">
          <div class="col">
            <div class="row d-flex flex-row align-items-end">
              <div class="col-lg-2 order-lg-1 order-2">
                <div
                  class="event_date d-flex flex-column align-items-center justify-content-center"
                >
                  <div class="event_day">07</div>
                  <div class="event_month">أيلول</div>
                </div>
              </div>

              <div class="col-lg-6 order-lg-2 order-3">
                <div class="event_content">
                  <div class="event_name">
                    <a class="trans_200" href="#">حبة الهيل</a>
                  </div>
                  <div class="event_location">تنمية بشرية</div>
                  <p class="event_explain">
                    جللسة روحية مع سبدة المجتمع الروحي الحجة ايمان الروحية جدن
                  </p>
                </div>
              </div>

              <div class="col-lg-4 order-lg-3 order-1">
                <div class="event_image">
                  <img
                    src="../assets/images/event_1.jpg"
                    alt="https://unsplash.com/@theunsteady5"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Event Item -->
        <div class="row event_item">
          <div class="col">
            <div class="row d-flex flex-row align-items-end">
              <div class="col-lg-2 order-lg-1 order-2">
                <div
                  class="event_date d-flex flex-column align-items-center justify-content-center"
                >
                  <div class="event_day">07</div>
                  <div class="event_month">أيلول</div>
                </div>
              </div>

              <div class="col-lg-6 order-lg-2 order-3">
                <div class="event_content">
                  <div class="event_name">
                    <a class="trans_200" href="#">حبة الهيل</a>
                  </div>
                  <div class="event_location">تنمية بشرية</div>
                  <p class="event_explain">
                    جللسة روحية مع سبدة المجتمع الروحي الحجة ايمان الروحية جدن
                  </p>
                </div>
              </div>

              <div class="col-lg-4 order-lg-3 order-1">
                <div class="event_image">
                  <img
                    src="../assets/images/event_1.jpg"
                    alt="https://unsplash.com/@theunsteady5"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
</div>
